body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #ffffff;
}

/* Header */
header {
  background: #0f172a;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Hero */
.home {
  height: 90vh;
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid white;
  margin: 0 auto 15px;
  object-fit: cover;
}

.btn {
  margin-top: 20px;
  padding: 10px 22px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
}

/* Section common */
section {
  padding: 70px 20px;
  text-align: center;
}

/* Skills */
.skill-grid span {
  display: inline-block;
  background: #e5e7eb;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 6px;
  font-weight: 500;
}

/* Education */
.edu-card {
  background: #f8fafc;
  padding: 25px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
}

/* Projects */
.project-card {
  background: #f9fafb;
  padding: 25px;
  margin: 20px auto;
  width: 65%;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* Contact */
.contact {
  background: #0f172a;
  color: white;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .project-card,
  .edu-card {
    width: 90%;
  }
}
.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.2);
}
.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.social-links a {
  font-size: 28px;
  color: white;          /* blue background mela white icons */
  margin: 0 12px;
  transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
  color: #e0e7ff;
  transform: scale(1.2);
}


